<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="#{request.contextPath}/resources/bootstrap/css/bootstrap.min.css"/>
	 <link rel="stylesheet" href="#{request.contextPath}/resources/css/estilo_01.css"/>
	<title>Cadastro Grupo de Perguntas</title>
</h:head>
<h:body>
	<div class="container">
	<h:form id="edicao">

	<h4 class="text-center"><h:outputText value="#{alternativaBean.pergunta.descricao}" /><h:commandLink value="voltar" action="perguntas" styleClass="btn btn-outline-success btn-sm" /></h4>
	<hr/>
		<h:messages />
		<h:inputHidden value="#{alternativaBean.alternativaCadastro.codigo}" />
		<div class="col-sm-12">
			<div class="row">
				<label>Alternativa</label>
				<h:inputText label="Alternativa" value="#{alternativaBean.alternativaCadastro.descricao}" styleClass="form-control"/>
				<label>Valor</label>
				<h:inputText label="Valor" value="#{alternativaBean.alternativaCadastro.pontos}" styleClass="form-control"/>
			</div>
		</div>

		<h:commandButton action="#{alternativaBean.salvar}" value="Salvar" styleClass="btn btn-success"/>
	</h:form>

		<div class="col-sm-12">
			<div class="row">
				<h4>Cadastros já realizados</h4>
				<hr/>
			</div>
		</div>

	<h:form id="listagem">
		<div class="col-sm-12">
			<div class="row">
			<h:dataTable value="#{alternativaBean.lista}" var="lista" rendered="#{not empty alternativaBean.lista}" styleClass="table table-striped" style="width: 100%;">
			<h:column>
				<f:facet name="header">Alternativa</f:facet>
					<h:outputText value="#{lista.descricao}"/>
			</h:column>
			<h:column>
				<f:facet name="header">Valor</f:facet>
					<h:outputText value="#{lista.pontos}"/>
			</h:column>
			<h:column>
				<h:commandLink value="Editar" styleClass="btn btn-info btn-sm btn-block">
				<f:ajax execute="@this" render=":edicao"/>
				 <f:setPropertyActionListener value="#{lista}" target="#{alternativaBean.alternativaCadastro}" />
				</h:commandLink>
			</h:column>
			<h:column>
				<h:commandLink value="Excuir" action="#{alternativaBean.excluir}" styleClass="btn btn-danger btn-sm btn-block">
				<f:ajax execute="@this" render=":listagem" />
				<f:setPropertyActionListener value="#{lista}" target="#{alternativaBean.alternativaCadastro}" />
				</h:commandLink>
			</h:column>
			</h:dataTable>
			</div>
		</div>
</h:form>
	</div>
</h:body>
</html>