<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="#{request.contextPath}/resources/bootstrap/css/bootstrap.min.css"/>
	 <link rel="stylesheet" href="#{request.contextPath}/resources/css/estilo_01.css"/>
	<title>Cadastro Questionários</title>
</h:head>
<h:body>
	<div class="container">
	<h:form id="edicao">

	<h4 class="text-center">Cadastro Questionários<h:commandLink value="voltar" action="home" styleClass="btn btn-outline-success btn-sm" /></h4>
	<hr/>
		<h:messages />
		<h:inputHidden value="#{grupoBean.grupoCadastro.codigo}" />
		
		<div class="col-sm-12">
			<div class="row">
				<label>Titulo</label>
				<h:inputText label="Nome" value="#{grupoBean.grupoCadastro.titulo}" styleClass="form-control"/>
				<label>Descrição</label>
				<h:inputText label="Descricao" value="#{grupoBean.grupoCadastro.descricao}" styleClass="form-control"/>
			</div>
		</div>

		<h:commandButton action="#{grupoBean.salvar}" value="Salvar" styleClass="btn btn-success"/>
	</h:form>

		<div class="col-sm-12">
			<div class="row">
				<h4>Cadastros já realizados</h4>
				<hr/>
			</div>
		</div>

	<h:form id="listagem">
		<div class="col-sm-12">
			<div class="row">
			<h:dataTable value="#{grupoBean.lista}" var="lista" rendered="#{not empty grupoBean.lista}" styleClass="table table-striped" style="width: 100%;">
			<h:column>
				<f:facet name="header">Título</f:facet>
					#{lista.titulo}
			</h:column>
			<h:column>
				<f:facet name="header">Descricao</f:facet>
					<h:outputText value="#{lista.descricao}"/>
			</h:column>
			<h:column>
				<f:facet name="header">Dono</f:facet>
				<h:outputText value="#{lista.usuario.nome}"/>
			</h:column>
			<h:column>
				<h:commandLink value="Editar" styleClass="btn btn-info btn-sm btn-block">
				<f:ajax execute="@this" render=":edicao"/>
				 <f:setPropertyActionListener value="#{lista}" target="#{grupoBean.grupoCadastro}" />
				</h:commandLink>
			</h:column>
			<h:column>
				<h:commandLink value="Excuir" action="#{grupoBean.excluir}" styleClass="btn btn-danger btn-sm btn-block">
				<f:ajax execute="@this" render=":listagem" />
				<f:setPropertyActionListener value="#{lista}" target="#{grupoBean.grupoCadastro}"/>
				</h:commandLink>
			</h:column>
			<h:column>
				<h:commandLink value="Cadastrar / Alterar Perguntas" action="#{grupoBean.abrirCadastroDePerguntas}" styleClass="btn btn-warning btn-sm btn-block">
				<f:setPropertyActionListener value="#{lista}" target="#{grupoBean.grupoCadastro}" />
				</h:commandLink>
			</h:column>
			</h:dataTable>
			</div>
		</div>
</h:form>
	</div>
</h:body>
</html>