<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
	<title>Quizzes</title>
	 <meta name="viewport" content="width=device-width, initial-scale=1" />
	 <link rel="stylesheet" href="#{request.contextPath}/resources/bootstrap/css/bootstrap.min.css"/>
	 <link rel="stylesheet" href="#{request.contextPath}/resources/css/estilo_01.css"/>
</h:head>
<h:body>
	<h:form>

		<div class="container padding_geral">
			<div class="row">
				<div class="col-sm-12">
					<h3>Selecione uma opção</h3>
				</div>
			</div>
			<div class="row margem_title_superior">
				<div class="col-sm-12">
				<h:outputText value="Bem vindo #{homeBean.nomeUsuario} " />
					<a onclick="document.location='#{request.contextPath}/j_spring_security_logout'" class="btn btn-outline-success btn-sm">sair</a>
				</div>
			</div>
			<div class="row margem_botao">
				<div class="col-sm-12">
					<h:commandButton styleClass="btn btn-default btn-block" value="Criar/Editar Questionários" action="grupoCadastro"></h:commandButton>
					<h:commandButton styleClass="btn btn-default btn-block" value="Responder Questionários" action="grupoResponder"></h:commandButton>
					<h:commandButton styleClass="btn btn-default btn-block" value="Consultar Ranking Questionários" action="rankingGrupos"></h:commandButton>
				</div>
			</div>
		</div>
	</h:form>
	</h:body>
</html>