<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="#{request.contextPath}/resources/bootstrap/css/bootstrap.min.css"/>
	 <link rel="stylesheet" href="#{request.contextPath}/resources/css/estilo_01.css"/>
	<title>Cadastro Perguntas</title>
</h:head>
<h:body>
	<div class="container">
	<h:form id="edicao">

	<h4 class="text-center"><h:outputText value="Perguntas de #{PerguntasBean.grupo.titulo}" /><h:commandLink value="voltar" action="grupoCadastro" styleClass="btn btn-outline-success btn-sm" /></h4>
	<hr/>
		<h:messages />
		<h:inputHidden value="#{PerguntasBean.perguntaCadastro.codigo}" />
		
		<div class="col-sm-12">
			<div class="row">
				<h:outputLabel value="Pergunta:" />
				<h:inputText value="#{PerguntasBean.perguntaCadastro.descricao}" styleClass="form-control"/>
			</div>
		</div>

		<h:commandButton action="#{PerguntasBean.salvar}" value="Salvar" styleClass="btn btn-success"/>
	</h:form>

		<div class="col-sm-12">
			<div class="row">
				<h4>Cadastros já realizados</h4>
				<hr/>
			</div>
		</div>

	<h:form id="listagem">
		<div class="col-sm-12">
			<div class="row">
			<h:dataTable value="#{PerguntasBean.lista}" var="lista" rendered="#{not empty PerguntasBean.lista}" styleClass="table table-striped" style="width: 100%;">
			<h:column>
				<f:facet name="header">Pergunta</f:facet>
				<h:outputText value="#{lista.descricao}"/>
			</h:column>
			<h:column>
				<h:commandLink value="Editar" styleClass="btn btn-info btn-sm btn-block">
				<f:ajax execute="@this" render=":edicao"/>
				<f:setPropertyActionListener value="#{lista}" target="#{PerguntasBean.perguntaCadastro}" />
				</h:commandLink>
			</h:column>
			<h:column>
				<h:commandLink value="Excuir" action="#{PerguntasBean.excluir}" styleClass="btn btn-danger btn-sm btn-block">
				<f:ajax execute="@this" render=":listagem" />
				<f:setPropertyActionListener value="#{lista}" target="#{PerguntasBean.perguntaCadastro}"/>
				</h:commandLink>
			</h:column>
			<h:column>
				<h:commandLink value="Cadastrar/Consultar Alternativas" action="#{PerguntasBean.abrirCadastroDeAlternativas}" styleClass="btn btn-warning btn-sm btn-block">
				<f:setPropertyActionListener value="#{lista}" target="#{PerguntasBean.perguntaCadastro}"/>
				</h:commandLink>
			</h:column>
			</h:dataTable>
			</div>
		</div>
</h:form>
	</div>

</h:body>
</html>