<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="#{request.contextPath}/resources/bootstrap/css/bootstrap.min.css"/>
	 <link rel="stylesheet" href="#{request.contextPath}/resources/css/estilo_01.css"/>
	<title>Pontuação resposta</title>
</h:head>
<h:body>
	<div class="container">
	<h:form id="listagem">
	<h4 class="text-center"><h:outputText value="Mostrar Pontuação do Questionário" /><h:commandLink value="Tela Inicial" action="home" styleClass="btn btn-outline-success btn-sm" /></h4>
	<h:outputLabel value="#{contextoBean.usuarioLogado.nome} Sua Pontuação foi de #{pontuacaoBean.somatorioQuestionario}"/><br/>
	<h:outputLabel value="Alternativas escolhidas"/>
		<div class="col-sm-12">
			<div class="row">
			<h:dataTable value="#{pontuacaoBean.alternativasSelecionadas}" var="lista" rendered="#{not empty pontuacaoBean.alternativasSelecionadas}" styleClass="table table-striped" style="width: 100%;">
			<h:column>
				<f:facet name="header">Respostas</f:facet>
					<h:outputText value="#{lista.descricao}"/>
			</h:column>
			<h:column>
				<f:facet name="header">Quantidade de Pontos</f:facet>
					<h:outputText value="#{lista.pontos}"/>
			</h:column>
			</h:dataTable>
			</div>
		</div>
</h:form>
	</div>
</h:body>
</html>