<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
	<title>Ranking</title>
	 <meta name="viewport" content="width=device-width, initial-scale=1" />
	 <link rel="stylesheet" href="#{request.contextPath}/resources/bootstrap/css/bootstrap.min.css"/>
	 <link rel="stylesheet" href="#{request.contextPath}/resources/css/estilo_01.css"/>
</h:head>
<h:body>
<div class="container">
	<h:form id="listagem">
	<h4 class="text-center"><h:outputText value="Ranking de Questionário" /><h:commandLink value="Tela Inicial" action="home" styleClass="btn btn-outline-success btn-sm" /></h4>
	<h:outputLabel value="#{contextoBean.grupoAtivo.titulo}"/><br/>
		<div class="col-sm-12">
			<div class="row">
			<h:dataTable value="#{rankingBean.listaUsuarios}" var="lista" rendered="#{not empty rankingBean.listaUsuarios}" styleClass="table table-striped" style="width: 100%;">
			<h:column>
				<f:facet name="header">Usuário</f:facet>
					<h:outputText value="#{lista.usuario.nome}"/>
			</h:column>
			<h:column>
				<f:facet name="header">Pontuação</f:facet>
					<h:outputText value="#{lista.somatorio}"/>
			</h:column>
			</h:dataTable>
			</div>
		</div>
</h:form>
	</div>

</h:body>
</html>