<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="#{request.contextPath}/resources/bootstrap/css/bootstrap.min.css"/>
	 <link rel="stylesheet" href="#{request.contextPath}/resources/css/estilo_01.css"/>
	<title>Responder Perguntas</title>
</h:head>
<h:body>
	<div class="container">
	<h4 class="text-center"><h:outputText  value=" Pergunta de #{responderBean.grupo.titulo}" /></h4>
	<h:form id="perguntas">
		<hr/>
		<h:outputText value="#{responderBean.pergunta.descricao}" />
		<hr/>
		<h:messages />
		<div class="col-sm-12">
			<div class="row">
				<p:selectOneRadio value="#{responderBean.alternativa}" layout="pageDirection" rendered="#{not empty responderBean.alternativas}" converter="alternativaConverter">
            		<f:selectItems value="#{responderBean.alternativas}" var="lista" itemLabel="#{lista.descricao}" itemValue="#{lista}"/>
        		</p:selectOneRadio>
			</div>
		</div>
		<h:commandButton value="Proxima Pergunta" action="#{responderBean.salvareCarregarProxima}"/>
	</h:form>
	</div>
</h:body>
</html>